<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="727982">  <td>21/07/11 21:34:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TransformerTest.test01()[pri:0, instance:com.practice.selenium.TransformerTest@167fdd33]">test01</td> 
  <td>main@1641313620</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>21/07/11 21:34:01</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TransformerTest.test01()[pri:0, instance:com.practice.selenium.TransformerTest@167fdd33]">test01</td> 
  <td>main@1641313620</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>21/07/11 21:34:01</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TransformerTest.test01()[pri:0, instance:com.practice.selenium.TransformerTest@167fdd33]">test01</td> 
  <td>main@1641313620</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>21/07/11 21:34:01</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TransformerTest.test01()[pri:0, instance:com.practice.selenium.TransformerTest@167fdd33]">test01</td> 
  <td>main@1641313620</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>21/07/11 21:34:01</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TransformerTest.test01()[pri:0, instance:com.practice.selenium.TransformerTest@167fdd33]">test01</td> 
  <td>main@1641313620</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>21/07/11 21:34:01</td>   <td>62</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TransformerTest.test02()[pri:0, instance:com.practice.selenium.TransformerTest@167fdd33]">test02</td> 
  <td>main@1641313620</td>   <td></td> </tr>
</table>
